<div class="container">

<table class="table table-striped table-bordered">
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Mobile</th>
</tr>

<% @orders.each do |order| %>
<tr>
<td><%= order.ordernumber %></td>
<td><%= order.ordernumber %></td>
<td><%= order.ordernumber %></td>
<td><%= order.ordernumber %></td>
</tr>
<% end %>
</table>

  
</div>
